<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.parsermodule">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_parsermodule">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <meta-data
            android:name="sapphire_assistant_framework_module"
            android:value="true">
        </meta-data>
        <meta-data
            android:name="saf_parser"
            android:value="com.example.parsermodule.UtteranceParsing"/>
        <service
            android:name=".UtteranceProcessing"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PARSE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
