<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.multiprocessmodule">

    <application>
        <service
            android:name=".MultiprocessService"
            android:exported="true">
        </service>
        <service
            android:name=".MultiprocessModuleInstallService"
            android:exported="true">
            <intent-filter>
                <action android:name="assistant.framework.module.action.REGISTER"/>
            </intent-filter>
        </service>
    </application>
</manifest>