<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sapphireassistantframework">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SapphireAssistantFramework">
        <activity
            android:name=".CoreCentralActivity"
            android:exported="true"
            android:label="@string/title_activity_core_central_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".CoreService"
            android:exported="true"/>
        <service
            android:name=".CoreInstallService"
            android:exported="true"/>
        <!-- This should probably run in a separate process, so the system doesn't get bottlenecked -->
        <service
            android:name=".PostOffice"
            android:process=":PostOffice"
            android:exported="true"/>
    </application>
</manifest>