<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.vosksttmodule">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_vosk_stt_module">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <!-- This runs in a separate service so it doesn't bog down the app. I don't think it needs to though, since it's a separate module -->
        <service
            android:name=".KaldiService"
            android:exported="true"
            android:process="vosk.service">
        </service>
    </application>

</manifest>